body {

    text-align: center;
    background-color: tomato;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {

    text-align: center;
    color: blueviolet;
    text-shadow: silver;
}